<button (click)="uno()" id="botonN">empezar un retiro</button>
<button (click)="dos()" id="botonN">empezar un retiro</button>
<button (click)="tres()" id="botonN">empezar un retiro</button>
<button (click)="cuatro()" id="botonN">empezar un retiro</button>
<button (click)="cinco()" id="botonN">empezar un retiro</button>
<button (click)="seis()" id="botonN">empezar un retiro</button>
<button (click)="siete()" id="botonN">empezar un retiro</button>
<button (click)="ocho()" id="botonN">empezar un retiro</button>
<button (click)="nueve()" id="botonN">empezar un retiro</button>
<button (click)="cero()" id="botonN">empezar un retiro</button>
<button (click)="suma()" id="botonO">empezar un retiro</button>
<button (click)="resta()" id="botonO">empezar un retiro</button>
<button (click)="multi()" id="botonO">empezar un retiro</button>
<button (click)="divi()" id="botonO">empezar un retiro</button>
<button (click)="sin()" id="botonT">empezar un retiro</button>
<button (click)="cos()" id="botonT">empezar un retiro</button>
<button (click)="tan()" id="botonT">empezar un retiro</button>
<button (click)="borrar()" id="botonO">empezar un retiro</button>